:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --main-text-color: #353430;
  --heading-color: #ffc2e6;
  --bg-accent-color: #ff8dcb;
  --text-accent-color: #353430;
  --text-accent-color-rgb: 53 52 48;

  .header__decorative-element {
    display: none;
  }

  .header__text,
  .card__title,
  .list-item__title {
    color: var(--text-accent-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --main-text-color: #353430;
    --heading-color: #ffc2e6;
    --bg-accent-color: #ff8dcb;
    --text-accent-color: #353430;
    --text-accent-color-rgb: 53 52 48;
  }

  .header__decorative-element {
    display: none;
  }

  .header__text,
  .card__title,
  .list-item__title {
    color: var(--text-accent-color);
  }
}
