:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --main-text-color: #353430;
  --text-on-bg: #353430;
  --heading-color: #ffc2e6;
  --bg-accent-color: #ff8dcb;
  --text-accent-color: #353430;
  --text-accent-color-rgb: 53 52 48;
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --main-text-color: #353430;
    --text-on-bg: #353430;
    --heading-color: #ffc2e6;
    --bg-accent-color: #ff8dcb;
    --text-accent-color: #353430;
    --text-accent-color-rgb: 53 52 48;
    --rec-display: none;
  }
}
